.animated-header {
	--grid-height: max(10vmin, 3em);
	--grid-width: max(10vmin, 3em);

	--dot-size: 0.4em;
	--dot-color: #f9fafb;
	--line-color: #9ca3af;

	--point-gap-width: calc(3 * var(--grid-width));
	--point-gap-height: calc(3 * var(--grid-height));

	background-image: linear-gradient(
		124deg,
		#f97316,
		#f59e0b,
		#84cc16,
		#10b981,
		#14b8a6,
		#6366f1,
		#d946ef,
		#f43f5e
	);
	background-size: 1600% 1600%;
	background-position-x: calc(-1% * var(--progress));
    transition: background-position-x 1s linear;


}

.animated-header::before,
.animated-header::after {
	content: "";
	position: absolute;
	inset: 0;
	z-index: 1;
	mix-blend-mode: overlay;
}

.animated-header::before {
	background-image:
		linear-gradient(var(--line-color), transparent 3px),
		linear-gradient(90deg, var(--line-color), transparent 3px);
	background-size:
		100% var(--grid-height),
		var(--grid-width) 100%;
	animation: move 4s linear infinite;
}

.animated-header::after {
	transform: translateZ(-100%);
	background-image: radial-gradient(
		var(--dot-color) calc(var(--dot-size) * 0.8),
		transparent calc(var(--dot-size) * 0.8)
	);
	background-size: var(--point-gap-width) var(--point-gap-height);
	background-position:
		var(--point-gap-width)
		var(--point-gap-height);
	animation: move 4s linear infinite;
}

@keyframes move {
	from {
		background-position:
			calc(var(--point-gap-width) / -2)
			calc(var(--point-gap-height) / -2);
	}
	to {
		background-position:
			calc(var(--point-gap-width) / 2)
			calc(var(--point-gap-height) / 2);
	}
}
