.timeline-section::before {
  content: '';
  position: absolute;
  top: -2.5rem;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: -1;
  border-top: 2px dashed var(--secondary);
  opacity: 25%;
}

.timeline-row-right {
    direction: rtl;
}

.timeline-row-right > *:not(.date) {
    direction: ltr;
}

.timeline {
    &::before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--secondary);
        height: 100%;
        width: 1px;
        z-index: -1;
        opacity: 50%;
    }

    li {
        grid-template-columns: 1fr 0.5fr 2.5rem 0.5fr 1fr;
    }
}

@media only screen and (max-width: 640px) {
  .timeline { 
    &::before {
        left: 6.25rem;
    }

    li {
        grid-template-columns: 5fr 1fr 2.5rem 5rem;
    }
  }
}

@media only screen and (max-width: 640px) {
  .timeline { 
    direction: rtl;

    > li {
        .card, .date {
            direction: ltr;
        }
    }

    &::before {
        left: 6.25rem;
    }

    li {
        grid-template-columns: 5fr 1fr 2.5rem 5rem;
    }
  }
}