@import "tailwindcss";

:root {
  --dark: hsl(0, 0%, 9%);
  --light: #ffffff;

  --primary: var(--dark);
  --secondary: var(--light);
  --accent: oklch(68.5% 0.169 237.323);
  --secondaryAccent: oklch(76.9% 0.188 70.08);

  /* For theme toggle */
  &.light {
    --primary: var(--light);
    --secondary: var(--dark);  
  }
}

/* Prefers light mode and not toggled */
@media (prefers-color-scheme: light) {
  :root:not(.dark) {
    --primary: var(--light);
    --secondary: var(--dark);
  }
}

@theme app {
  /* Colours */
  /* Primary */
  --color-primary-500: var(--primary);

  /* Secondary */
  --color-secondary-500: var(--secondary);

  /* Accent */
  --color-accent: var(--accent);

  /* Secondary Accent */
  --color-accenttwo: var(--secondaryAccent);

  /* Spacings */
  --spacing-4xs: 0.25rem;
  --spacing-3xs: 0.5rem;
  --spacing-2xs: 0.75rem;
  --spacing-xs: 1rem;
  --spacing-s: 1.25rem;
  --spacing-m: 1.75rem;
  --spacing-l: 2.5rem;
  --spacing-xl: 3.75rem;
  --spacing-2xl: 6.25rem;
  --spacing-3xl: 10rem;
  --spacing-4xl: 15rem;
  
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header, main, footer {
	max-width: 1080px;
	width: 100vw;
	padding-left: 1rem;
	padding-right: 1rem;
}

main {
	margin-top: 3rem;
	margin-bottom: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 3rem;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.25;
}

h3 {
  font-size: 1.875rem;
  line-height: 1.3;
}

@keyframes bob {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}

.animate-bob {
  animation: bob 2.5s ease-in-out infinite;
}